<%- include('../partials/header.ejs')  %>
<%- include('../partials/nav_bar.ejs')  %>


<body>
  <h1>Create a new account!</h1>
  <form action="/auth/sign-up" method="POST">
    <% if( locals.errMessage ){ %>
        <div class="error">
            <%= errMessage %>
        </div>
        <% } %>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="confirmPassword">Confirm Password:</label>
    <input 
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      required
    />
    <br>
    <button type="submit">Sign up</button>
  </form>
</body>
</html>
