<nav>
    <a href="/">Home</a>
    |
    <a href="/profile">Profile</a>
    |
    <a href="/drink">All drink reviews</a>
    |
    <a href="/drink/new">Review a drink</a>
    |
    <% if(locals.user !== null){ %>
      <a href="/auth/sign-out">Sign Out</a>
      <br>
      <br>
      Welcome, <%= JSON.stringify(locals.user.username)  %>
    <% } else {  %>
      
    <a href="/auth/sign-up">Sign Up</a>
    |
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </nav>