<nav>
  <a href="/">Home</a>
  | <% if(user != null){ %>
  <a href="/drinks/myReviews">My reviews</a>
  | <% } %>
  <a href="/drinks">Shared reviews</a>
  | <% if(user != null){ %>
  <a href="/drinks/new">Review a drink</a>
  | <% } %> <% if(locals.user !== null){ %>
  <a href="/auth/sign-out">Sign Out</a>
  <br />
  <br />
  Welcome, <%= JSON.stringify(locals.user.username) %> <% } else { %>

  <a href="/auth/sign-up">Sign Up</a>
  |
  <a href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>
