<h2>Review a drink</h2>

<form action="/drink" method="POST">
    <p>
        <label>
            Name: <input type="text" name="streetAddress">
        </label>
    </p>
    <p>
        <label>
            Fizziness: <input type="text" name="city">
        </label>
    </p>
    <p>
        <label>
            Flavour(s): <input type="number" name="price" min="0">
        </label>
    </p>
    <p>
        <label>
            Rating: <input type="number" name="size" min="0">
        </label>
    </p>
    
    <button>Submit review</button>

</form>