body,
header,
main,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: moccasin;
  color: rgb(67, 49, 26);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  margin: 5%;
  border-radius: 10%;
}

a,
button {
  text-decoration: none;
  color: rgb(67, 49, 26);
  background-color: antiquewhite;
  border-radius: 5%;
  border: none;
}

a:hover,
button:hover {
  cursor: pointer;
  background-color: rgb(151, 103, 67);
  border-radius: 10%;
}

li {
  list-style-type: none;
}
